<div class="dialog delegate-search">
    <div class="dialog-header">
        <span class="dialog-title">被代理</span>
        <span class="dialog-close"><i class="fa fa-times"></i></span>
    </div>
    <div class="dialog-body">
        <div class="delegate-search-content">
            <div class="table">
                <div class="search-result">
                    <table class="single">
                        <tr>
                            <th width="40%">用户名称</th>
                            <th width="35%">用户代码</th>
                            <th width="25%">产品大类</th>
                        </tr>
                        <tr>
                            <td>税友软件集团股份有限公司</td>
                            <td>31205780780909078</td>
                            <td>国税申报</td>
                        </tr>
                        <tr>
                            <td>税友软件集团股份有限公司</td>
                            <td>31205780780909078</td>
                            <td>国税申报</td>
                        </tr>
                        <tr>
                            <td>税友软件集团股份有限公司</td>
                            <td>31205780780909078</td>
                            <td>国税申报</td>
                        </tr>
                        <tr>
                            <td>税友软件集团股份有限公司</td>
                            <td>31205780780909078</td>
                            <td>国税申报</td>
                        </tr>
                        <tr>
                            <td>税友软件集团股份有限公司</td>
                            <td>31205780780909078</td>
                            <td>国税申报</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>