<div class="cont-left-top-top">
    <div class="username">
        <span>单位：</span>
        <span>税友软件集团股份有限公司</span>
        <span class="show-detail alink hover">详细</span>
        <span class="user-position">通行密码：1342345635434</span>
    </div>
    <div class="level">
        <span class="level-icon level2"></span>
        <span class="level-type alink delegated">被代理</span>
        <span class="alink level-manage"><i class="fa fa-users"></i>人员管理</span>
    </div>
    <div class="remark">
        <input type="text" placeholder="请输入备注信息"/>
    </div>
</div>
                                        