<div class="dialog manage-people" id="manageDialog">
    <div class="dialog-header">
        <span class="dialog-title">人员管理</span>
        <span class="dialog-close" id="manageClose" ng-click="closeManage()"><i class="fa fa-times"></i></span>
    </div>
    <div class="dialog-body">
        <div class="manage-people-content">
            <div class="table">
                <div class="search-area">
                    <div class="search-item">
                        <span class="alink"><i class="fa fa-plus"></i>新增联系人</span>
                    </div>
                    <div class="search-item">
                        <span class="alink"><i class="fa fa-pencil-square-o alink"></i>修改</span>
                    </div>
                    <div class="search-item">
                        <span class="alink"><i class="fa fa-times"></i>批量删除</span>
                    </div>
                </div>
                <div class="search-result">
                    <table class="checkbox-series">
                        <tr>
                            <th class="option-item top-checkbox">
                                <span><span class="select-status"></span></span>
                            </th>
                            <th>联系人</th>
                            <th>角色</th>
                            <th>联系人号码</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td class="option-item">
                                <span><span class="select-status"></span></span>
                            </td>
                            <td>企业专线员</td>
                            <td>角色</td>
                            <td><div>手机：13312345678</div></td>
                            <td><span class="alink">删除</span></td>
                        </tr>
                        <tr>
                            <td class="option-item">
                                <span><span class="select-status"></span></span>
                            </td>
                            <td>企业专线员</td>
                            <td>角色</td>
                            <td><div>手机：13312345678</div></td>
                            <td><span class="alink">删除</span></td>
                        </tr>
                        <tr>
                            <td class="option-item">
                                <span><span class="select-status"></span></span>
                            </td>
                            <td>企业专线员</td>
                            <td>角色</td>
                            <td><div>手机：13312345678</div></td>
                            <td><span class="alink">删除</span></td>
                        </tr>
                        <tr>
                            <td class="option-item">
                                <span><span class="select-status"></span></span>
                            </td>
                            <td>企业专线员</td>
                            <td>角色</td>
                            <td><div>手机：13312345678</div></td>
                            <td><span class="alink">删除</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>