<div class="cont-left-top-top" ng-init="loadCompanyInfo()">
    <div class="username">
        <span>单位：</span>
        <span ng-bind="companyInfo.data.yhmc"></span>
        <span ng-mouseover="showDetailInfo()" ng-mouseleave="hideDetailInfo()">
            <span class="show-detail alink hover">详细</span>
            <span class="company-info">
                <div class="close-info"><i class="fa fa-times-circle-o"></i></div>
                <div class="info-item">
                    <span>单位名称：
                        <span ng-bind="companyInfo.data.yhmc"></span>
                    </span>
                </div>
                <div class="info-item">
                    国税税号：<span ng-bind="companyInfo.data.nsrsbh"></span>
                    <span ng-bind="companyInfo.data.gsswjgMc"></span>
                </div>
                <div class="info-item">
                    地税税号：<span ng-bind="companyInfo.data.dssh"></span>
                    <span ng-bind="companyInfo.data.dsswjgMc"></span>
                </div>
                <div class="info-item">
                    海关代码：<span ng-bind="companyInfo.data.hgdm"></span>
                    出口企业类型：<span ng-bind="companyInfo.data.yhlbxx"></span>
                </div>
                <div class="info-item">
                    所属行业：<span ng-bind="companyInfo.data.hymlMc"></span>
                    增值税纳税人类型：<span ng-bind="companyInfo.data.qytype"></span>
                </div>
                <div class="info-item">
                    传真号码：<span ng-bind="companyInfo.data.faxNumber"></span>
                </div>
                <div class="info-item">
                    单位电话：<span ng-bind="companyInfo.data.dwdh"></span>
                </div>
                <div class="info-item">
                    经营地址：<span ng-bind="companyInfo.data.jydz"></span>
                </div>
                <div class="info-item">
                    <span class="float-left manage-info-title">管理信息：</span>
                    <span class="float-left manage-info" >
                        <span ng-repeat="item in companyInfo.data.ywxxList">
                            <span ng-bind="item.ywdlMc+'-'+item.sswdMc+'-'+item.sskhjlMc"></span>
                        </span>
                    </span>
                </div>
            </span>
        </span>
        <span class="user-position">
            通行密码：<span  ng-bind="companyInfo.data.zcbm"></span>
        </span>
    </div>
    <div class="level">
        <span class="level-icon level2"></span>
        <span class="level-type alink delegated" ng-click="showDialogWindow()">被代理</span>
        <span class="alink level-manage" ng-click="showDialogWindow()"><i class="fa fa-users"></i>人员管理</span>
    </div>
    <div class="remark">
        <input type="text" placeholder="请输入备注信息"/>
    </div>
</div>
