<div class="company-info">
    <div class="close-info">
        <i class="fa fa-times-circle-o"></i>
    </div>
    <div class="info-item">
        <span>单位名称：
            <span contenteditable="true" class="edit">
                税友软件集团股份有限公司<i class="fa fa-pencil-square-o alink"></i>
            </span>
        </span>
    </div>
    <div class="info-item">
        <span>国税税号：440312235345345344531</span>
        <span>深圳市福田区国税局</span>
    </div>
    <div class="info-item">
        <span>地税税号：440312235345345344531</span>
        <span>深圳市福田区国税局</span>
    </div>
    <div class="info-item">
        <span>海关代码：000120</span>
        <span>出口企业类型：生产型</span>
    </div>
    <div class="info-item">所属行业：
        <span>建安行业</span>
        <select class="trade">
            <option value="建安行业">建安行业</option>
            <option value="保险行业">保险行业</option>
            <option value="汽车行业">汽车行业</option>
            <option value="自动化行业">自动化行业</option>
        </select>
        <i class="fa fa-pencil-square-o alink edit-trade"></i>
        <span>增值税纳税人类型：一般纳税人</span>
    </div>
    <div class="info-item">
        <span>传真号码：
            <span contenteditable="true" class="edit">
                0571-56342123<i class="fa fa-pencil-square-o alink"></i>
            </span>
        </span>
    </div>
    <div class="info-item">
        <span>单位电话：
            <span contenteditable="true" class="edit">
                0571-56342123<i class="fa fa-pencil-square-o alink"></i>
            </span>
        </span>
    </div>
    <div class="info-item">
        <span>经营地址：
            <span>
                浙江省 杭州市 浦沿街道 南环路3738号税友大厦<i class="fa fa-pencil-square-o alink edit-address"></i>
            </span>
        </span>

        <div class="select-address-edit">
            <div class="option-item">
                <span class="item-text item-label">所在地区：</span>
                <select class="address" disabled="">
                    <option selected="selected">请选择省市区</option>
                </select>

                <div class="address-cover setAddress"></div>
                <div class="select-address">
                    <div class="tabs">
                        <div class="tab active" id="province">省份</div>
                        <div class="tab fix-margin" id="city">城市</div>
                        <div class="tab fix-margin" id="county">县区</div>
                        <div class="tab fix-margin noborer" id="street">街道</div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-content-box">
                            <div class="tab-content-item province">
                                <div class="areas a-g">
                                    <div>
                                        <span class="area">安徽</span>
                                        <span class="area">北京</span>
                                        <span class="area">重庆</span>
                                        <span class="area">福建</span>
                                        <span class="area">甘肃</span>
                                        <span class="area">广东</span>
                                        <span class="area">广西</span>
                                        <span class="area">贵州</span>
                                    </div>
                                </div>
                                <div class="areas h-k">
                                    <div>
                                        <span class="area">海南</span>
                                        <span class="area">河北</span>
                                        <span class="area">黑龙江</span>
                                        <span class="area">河南</span>
                                        <span class="area">湖北</span>
                                        <span class="area">湖南</span>
                                        <span class="area">江苏</span>
                                        <span class="area">江西</span>
                                        <span class="area">吉林</span>
                                    </div>
                                </div>
                                <div class="areas l-s">
                                    <div>
                                        <span class="area">辽宁</span>
                                        <span class="area">内蒙古</span>
                                        <span class="area">宁夏</span>
                                        <span class="area">青海</span>
                                        <span class="area">山东</span>
                                        <span class="area">上海</span>
                                        <span class="area">山西</span>
                                        <span class="area">陕西</span>
                                        <span class="area">四川</span>
                                    </div>
                                </div>
                                <div class="areas t-z">
                                    <div>
                                        <span class="area">天津</span>
                                        <span class="area">新疆</span>
                                        <span class="area">西藏</span>
                                        <span class="area">云南</span>
                                        <span class="area">浙江</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content-item">
                                <div class="areas">
                                    <span class="area">杭州</span>
                                    <span class="area">湖州</span>
                                    <span class="area">嘉兴</span>
                                    <span class="area">温州</span>
                                    <span class="area">绍兴</span>
                                </div>
                            </div>
                            <div class="tab-content-item">
                                <div class="areas">
                                    <span class="area">上城区</span>
                                    <span class="area">滨江区</span>
                                    <span class="area">余杭区</span>
                                    <span class="area">萧山区</span>
                                    <span class="area">西湖区</span>
                                </div>
                            </div>
                            <div class="tab-content-item">
                                <div class="areas">
                                    <span class="area">浦沿</span>
                                    <span class="area">西兴</span>
                                    <span class="area">长河</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option-item">
                <span class="item-text float-left item-label">详细地址：</span>
                <input class="address" type="text"/>
            </div>
        </div>
    </div>
    <div class="info-item">
        <span>委托信息：无/XXX代理 代理的产品大类</span>
    </div>
    <div class="info-item">
        <span class="float-left manage-info-title">管理信息：</span>
        <span class="float-left manage-info">
            <span>国税业务-衢水-刘珊</span>
            <span>地税业务-衢水-刘珊</span>
            <span>申报业务-衢水-刘珊</span>
        </span>
    </div>
</div>
