<div class="dialog delegate-search" ng-init="loadDialogWindow()" ng-click="clickWindow($event)">
    <div class="dialog-header" ng-mousedown="dragWindow($event)" ng-mouseup="finishDrag($event)">
        <span class="dialog-title">人员管理</span>
        <span class="dialog-close" ng-click="hideManageWindow($event)"><i class="fa fa-times"></i></span>
    </div>
    <div class="dialog-body">
        <div class="delegate-search-content">
            <div class="table">
                <div class="search-result">
                    <table class="single">
                        <thead>
                        <tr>
                            <th width="30%">联系人</th>
                            <th width="30%">角色</th>
                            <th width="25%">联系人号码</th>
                            <th width="15%">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>