<table class="service-info">
    <tr>
        <td class="number" width="13%">业务概况</td>
        <td class="left-top no-padding">
            <div class="service-items">
                <span class="service-item">3天内咨询：{{BusinessGeneral.threeDay}}次</span>
                <span class="service-item">一年内投诉：{{BusinessGeneral.OneYear}}次</span>
                <span class="service-item">未关闭线索：{{BusinessGeneral.OnClose}}条</span>
                <span class="service-item">到期/逾期订单：4个</span>
            </div>
            <div class="service-items">
                                                                <span class="service-item">
                                                                    [正在]操作：代税无忧平台V01.0.027
                                                                </span>
            </div>
            <div class="service-items last">
                                                                <span class="service-item">
                                                                    银行托收协议：2份
                                                                </span>
                <span class="service-item">未开票订单：1个</span>
                <span class="service-item">未交付品：物料+发票</span>
            </div>
        </td>
    </tr>
</table>