<div class="table">
    <div class="search-result">
        <table>
            <tr >
                <th ng-repeat="head in heads">{{head}}</th>
            </tr>
            <tr>
                <td>表格样式</td>
                <td>
                    请参照这里
                </td>
                <td>
                    表格样式
                </td>
                <td>
                    请参照
                </td>
                <td>这</td>
                <td>里</td>
            </tr>
            <tr>
                <td>惠税无忧</td>
                <td>
                    惠税无忧V1.01
                </td>
                <td>
                    v1.01
                </td>
                <td>
                    正常
                </td>
                <td>2015-12-23</td>
                <td>2016-12-23</td>
            </tr>
            <tr>
                <td>惠税无忧</td>
                <td>
                    惠税无忧V1.01
                </td>
                <td>
                    v1.01
                </td>
                <td>
                    正常
                </td>
                <td>2015-12-23</td>
                <td>2016-12-23</td>
            </tr>
            <tr>
                <td>惠税无忧</td>
                <td>
                    惠税无忧V1.01
                </td>
                <td>
                    v1.01
                </td>
                <td>
                    正常
                </td>
                <td>2015-12-23</td>
                <td>2016-12-23</td>
            </tr>
            <tr>
                <td>惠税无忧</td>
                <td>
                    惠税无忧V1.01
                </td>
                <td>
                    v1.01
                </td>
                <td>
                    正常
                </td>
                <td>2015-12-23</td>
                <td>2016-12-23</td>
            </tr>
        </table>
    </div>
</div>