<div class="table">
    <div class="search-result">
        <table>
            <tr>
                <th>诉求类型</th>
                <th>诉求时间</th>
                <th>诉求内容</th>
                <th>回复内容</th>
                <th>处理状态</th>
                <th>登记人</th>
            </tr>
            <tr ng-repeat="vo in tsjyList">
                <td>{{vo.sqsj}}</td>
                <td>
                    {{vo.sqsj}}
                </td>
                <td>
                    {{vo.sqnr}}
                </td>
                <td>
                    {{vo.hfnr}}
                </td>
                <td>
                    {{vo.sqzt}}
                </td>
                <td>
                    {{vo.djrmc}}
                </td>
            </tr>

        </table>
    </div>
</div>