.service-info{
    margin-top: 10px;
}
.service-info td {
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #BFBFBF;
}
.tabs.style2+.scroll-arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 50px;
    display: block;
    text-align: center;
    padding-top: 15px;
}
#scroll-arrow{
    background: #F8F8F8;
}
.title{
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
}
.softwear-auth{
    table-layout:fixed;
}
.softwareAuthority{
    width: 100%;
    table-layout:fixed;
}
.tab-content{

}


