<div >
    <div class="username">
        <span>单位：</span>
        <span>税友软件集团股份有限公司</span>
        <span class="user-position">办税员/会计</span>
    </div>
    <div class="level">
        <span class="level-type other">QQ：12345356356</span>
        <span>手机：13312345678</span>
        <span class="number">已绑定</span>
    </div>
    <div class="tags">
        <span>标签：</span>
        <span class="tag">个人标签</span>
        <span class="tag">暴脾气</span>
        <span class="tag">意向评级：良</span>
        <span class="tag">操作能力低</span>
        <span class="tag alink"><i class="fa fa-plus"></i>添加标签</span>
    </div>
    <div class="remark">
        <input type="text" placeholder="请输入备注信息"/>
    </div>
</div>