<div>
<div class="tabs style2">
    <div>
        <div class="tab" ng-repeat="tag in tags">{{tag.tagName}}</div>

    </div>
</div>
<div class="scroll-arrow">
    <span class="arrow-left disable"><i class="fa fa-chevron-left"></i></span>
    <span class="arrow-right"><i class="fa fa-chevron-right"></i></span>
</div>
<div class="tab-content style2">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <table>
                        <tr>
                            <th>软件名称</th>
                            <th>分版名称</th>
                            <th>版本</th>
                            <th>状态</th>
                            <th>起始日期</th>
                            <th>到期日期</th>
                        </tr>
                        <tr>
                            <td>表格样式</td>
                            <td>
                                请参照这里
                            </td>
                            <td>
                                表格样式
                            </td>
                            <td>
                                请参照
                            </td>
                            <td>这</td>
                            <td>里</td>
                        </tr>
                        <tr>
                            <td>惠税无忧</td>
                            <td>
                                惠税无忧V1.01
                            </td>
                            <td>
                                v1.01
                            </td>
                            <td>
                                正常
                            </td>
                            <td>2015-12-23</td>
                            <td>2016-12-23</td>
                        </tr>
                        <tr>
                            <td>惠税无忧</td>
                            <td>
                                惠税无忧V1.01
                            </td>
                            <td>
                                v1.01
                            </td>
                            <td>
                                正常
                            </td>
                            <td>2015-12-23</td>
                            <td>2016-12-23</td>
                        </tr>
                        <tr>
                            <td>惠税无忧</td>
                            <td>
                                惠税无忧V1.01
                            </td>
                            <td>
                                v1.01
                            </td>
                            <td>
                                正常
                            </td>
                            <td>2015-12-23</td>
                            <td>2016-12-23</td>
                        </tr>
                        <tr>
                            <td>惠税无忧</td>
                            <td>
                                惠税无忧V1.01
                            </td>
                            <td>
                                v1.01
                            </td>
                            <td>
                                正常
                            </td>
                            <td>2015-12-23</td>
                            <td>2016-12-23</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>回电</span>
                        </span>
                        <span class="record-odd-content">
                            <span>任务类型[<span class="alink">30210251</span>]</span>
                            <span>待回电</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>来电咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>0571-56881234</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                        <span>
                            <span>咨询事项：申报失败</span>
                            <span>事项补充说明：申报失败，由于操作不当</span>
                            <span>咨询事项：申报出错</span>
                            <span>派发[<span class="alink">50210001</span>]</span>
                            <span>未完成</span>
                        </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>在线咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>会话ID[000035]</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>回电</span>
                    </span>
                    <span class="record-odd-content">
                        <span>任务类型[<span class="alink">30210251</span>]</span>
                        <span>待回电</span>
                        <span>张三(1001)</span>
                        <span class="alink">提交质检</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>来电咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>0571-56881234</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                        <span>
                            <span>咨询事项：申报失败</span>
                            <span>事项补充说明：申报失败，由于操作不当</span>
                            <span>咨询事项：申报出错</span>
                            <span>派发[<span class="alink">50210001</span>]</span>
                            <span>未完成</span>
                        </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>在线咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>会话ID[000035]</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>回电</span>
                        </span>
                        <span class="record-odd-content">
                            <span>任务类型[<span class="alink">30210251</span>]</span>
                            <span>待回电</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>来电咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>0571-56881234</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                        <span>
                            <span>咨询事项：申报失败</span>
                            <span>事项补充说明：申报失败，由于操作不当</span>
                            <span>咨询事项：申报出错</span>
                            <span>派发[<span class="alink">50210001</span>]</span>
                            <span>未完成</span>
                        </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>在线咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>会话ID[000035]</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>回电</span>
                    </span>
                    <span class="record-odd-content">
                        <span>任务类型[<span class="alink">30210251</span>]</span>
                        <span>待回电</span>
                        <span>张三(1001)</span>
                        <span class="alink">提交质检</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>来电咨询</span>
                    </span>
                    <span class="record-odd-content">
                        <span>0571-56881234</span>
                        <span>陈会计</span>
                        <span>张三(1001)</span>
                        <span class="alink">提交质检</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>
                        <span>咨询事项：申报失败</span>
                        <span>事项补充说明：申报失败，由于操作不当</span>
                        <span>咨询事项：申报出错</span>
                        <span>派发[<span class="alink">50210001</span>]</span>
                        <span>未完成</span>
                    </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>在线咨询</span>
                    </span>
                    <span class="record-odd-content">
                        <span>会话ID[000035]</span>
                        <span>陈会计</span>
                        <span>张三(1001)</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>回电</span>
                    </span>
                    <span class="record-odd-content">
                        <span>任务类型[<span class="alink">30210251</span>]</span>
                        <span>待回电</span>
                        <span>张三(1001)</span>
                        <span class="alink">提交质检</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>来电咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>0571-56881234</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                            <span class="alink">提交质检</span>
                        </span>
                </div>
                <div class="record-even">
                        <span>
                            <span>咨询事项：申报失败</span>
                            <span>事项补充说明：申报失败，由于操作不当</span>
                            <span>咨询事项：申报出错</span>
                            <span>派发[<span class="alink">50210001</span>]</span>
                            <span>未完成</span>
                        </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                        <span class="record-odd-title">
                            <span class="record-date">2015-11-23</span>
                            <span>在线咨询</span>
                        </span>
                        <span class="record-odd-content">
                            <span>会话ID[000035]</span>
                            <span>陈会计</span>
                            <span>张三(1001)</span>
                        </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                    <span class="record-odd-title">
                        <span class="record-date">2015-11-23</span>
                        <span>回电</span>
                    </span>
                    <span class="record-odd-content">
                        <span>任务类型[<span class="alink">30210251</span>]</span>
                        <span>待回电</span>
                        <span>张三(1001)</span>
                        <span class="alink">提交质检</span>
                    </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                                                            <span class="record-odd-title">
                                                                <span class="record-date">2015-11-23</span>
                                                                <span>来电咨询</span>
                                                            </span>
                                                            <span class="record-odd-content">
                                                                <span>0571-56881234</span>
                                                                <span>陈会计</span>
                                                                <span>张三(1001)</span>
                                                                <span class="alink">提交质检</span>
                                                            </span>
                </div>
                <div class="record-even">
                                                            <span>
                                                                <span>咨询事项：申报失败</span>
                                                                <span>事项补充说明：申报失败，由于操作不当</span>
                                                                <span>咨询事项：申报出错</span>
                                                                <span>派发[<span class="alink">50210001</span>]</span>
                                                                <span>未完成</span>
                                                            </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                                                            <span class="record-odd-title">
                                                                <span class="record-date">2015-11-23</span>
                                                                <span>在线咨询</span>
                                                            </span>
                                                            <span class="record-odd-content">
                                                                <span>会话ID[000035]</span>
                                                                <span>陈会计</span>
                                                                <span>张三(1001)</span>
                                                            </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
        <div class="tab-content-item">
            <div class="user-opt-records">
                <div class="record-odd">
                                                            <span class="record-odd-title">
                                                                <span class="record-date">2015-11-23</span>
                                                                <span>回电</span>
                                                            </span>
                                                            <span class="record-odd-content">
                                                                <span>任务类型[<span class="alink">30210251</span>]</span>
                                                                <span>待回电</span>
                                                                <span>张三(1001)</span>
                                                                <span class="alink">提交质检</span>
                                                            </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                                                            <span class="record-odd-title">
                                                                <span class="record-date">2015-11-23</span>
                                                                <span>来电咨询</span>
                                                            </span>
                                                            <span class="record-odd-content">
                                                                <span>0571-56881234</span>
                                                                <span>陈会计</span>
                                                                <span>张三(1001)</span>
                                                                <span class="alink">提交质检</span>
                                                            </span>
                </div>
                <div class="record-even">
                                                            <span>
                                                                <span>咨询事项：申报失败</span>
                                                                <span>事项补充说明：申报失败，由于操作不当</span>
                                                                <span>咨询事项：申报出错</span>
                                                                <span>派发[<span class="alink">50210001</span>]</span>
                                                                <span>未完成</span>
                                                            </span>
                </div>
            </div>
            <div class="user-opt-records">
                <div class="record-odd">
                                                            <span class="record-odd-title">
                                                                <span class="record-date">2015-11-23</span>
                                                                <span>在线咨询</span>
                                                            </span>
                                                            <span class="record-odd-content">
                                                                <span>会话ID[000035]</span>
                                                                <span>陈会计</span>
                                                                <span>张三(1001)</span>
                                                            </span>
                </div>
                <div class="record-even">
                    <span>情况记录：当时情况记录说明</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>