<div>
<div  class="tabs style2">
    <div class="tabsTotal" id="tabsTotal" ng-style="tabStyle">
        <div class="tab" ng-class="tag.TagClass" ng-repeat="tag in tags" ng-style="tabItemStyle" ng-click="activeView($index,tag,$event)" >{{tag.tagName}}</div>
        <div class="active-bar" ng-class="barStyle" style="{{activeBarStyle}}"></div>
    </div>
</div>
<div class="scroll-arrow" id="scroll-arrow">
    <span class="arrow-left" ng-class="leftClass"><i class="fa fa-chevron-left"></i></span>
    <span class="arrow-right" ng-class="rightClass"><i class="fa fa-chevron-right"></i></span>
    <!--<span class="arrow-left" ng-class="leftClass"><i class="fa fa-chevron-left"></i></span>-->
    <!--<span class="arrow-right" ng-class="rightClass"><i class="fa fa-chevron-right"></i></span>-->
</div>
<div class="tab-content style2">
    <div class="tab-content-box" ng-style="templateStyle">
        <div class="tab-content-item" ng-repeat="tag in tags" ng-style="itemWidth" >
            <div ng-include="tag.templateUrl"></div>
        </div>
    </div>
</div>
</div>

