<div ng-controller="IntermediaryInstitutionController">
<div id="cont-left-top-intermediary" class="cont-left-top">
    <div page-info tab-type="2"></div>
    <div class="cont-left-top-mid">
        <div>
            <table class="service-info">
                <tr>
                    <td class="right-bottom number" width="17%">服务授权</td>
                    <td>
                        <span class="service-item">电话服务-发票</span>
                        <span class="service-item">电话服务-申报</span>
                        <span class="service-item">网点服务-不限次</span>
                        <span class="service-item">上门服务-申报</span>
                    </td>
                </tr>
                    <tr trustordir></tr>
            </table>
        </div>
    </div>
</div>
<div id="cont-left-btm-intermediary" class="cont-left-btm">
    <ui-y-tab list ='tags' ></ui-y-tab>
</div>
</div>
