<div ng-controller="TaxlnstitutionController">
<div id="cont-left-top" class="cont-left-top">
    <page-info></page-info>
    <div class="cont-left-top-mid">
        <div>
            <table class="service-info">
                <tr>
                    <td class="right-bottom number" width="17%">服务授权</td>
                    <td>
                        <span class="service-item">电话服务-发票</span>
                        <span class="service-item">电话服务-申报</span>
                        <span class="service-item">网点服务-不限次</span>
                        <span class="service-item">上门服务-申报</span>
                    </td>
                </tr>
                <tr>
                    <td class="number">业务概况</td>
                    <td class="left-top no-padding">
                        <div class="service-items">
                            <span class="service-item">3天内咨询：3次</span>
                            <span class="service-item">一年内投诉：4次</span>
                        </div>
                        <div class="service-items">
                            <span class="service-item">
                                [正在]操作：代税无忧平台V01.0.027
                            </span>
                        </div>
                        <div class="service-items">
                            <span class="service-item">
                                银行托收协议：2份
                            </span>
                            <span class="service-item">未开票订单：1个</span>
                            <span class="service-item">未交付品：物料+发票</span>
                        </div>
                        <div class="service-items last">
                            <span class="service-item">线索：1条</span>
                            <span class="service-item">到期/逾期提醒订单：4个</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="cont-left-btm" class="cont-left-btm">
   <!--<div ng-include="'views/template/tabs/commonTab.html'"></div>-->
    <ui-y-tab list ='tags'></ui-y-tab>
</div>
</div>
<script>
    $(document).ready(function(){
        $("#cont-left-btm").css("top",$("#cont-left-top").height()+'10px');
    })
</script>