<div ng-controller="TaxlnstitutionController">
<div id="cont-left-top" class="cont-left-top">
    <div page-info tab-type="1"></div>
    <div class="cont-left-top-mid">
        <div>
            <!--<p>-->

                <!--<div style="display: inline"  tooltip-placement="bottom" tooltip="On the Bottom!">bottom</div>-->
                <!--pharetra convallis posuere morbi leo urna,-->

            <!--</p>-->
                <yhlxr-service-authority></yhlxr-service-authority>
                <yhlxr-business-general></yhlxr-business-general>
        </div>
    </div>
</div>
<div id="cont-left-btm" class="cont-left-btm">
    <ui-y-tab list ='tags' ></ui-y-tab>
</div>
</div>
