<div ng-controller="TaxlnstitutionController">
<div id="cont-left-top" class="cont-left-top">
    <div page-info tab-type="1"></div>
    <div class="cont-left-top-mid">
        <div>

                <yhlxr-service-authority></yhlxr-service-authority>
                <yhlxr-business-general></yhlxr-business-general>
        </div>
    </div>
</div>
<div id="cont-left-btm" class="cont-left-btm" cont-left-btm>
   <!--<div ng-include="'views/template/tabs/commonTab.html'"></div>-->
    <ui-y-tab list ='tags' ></ui-y-tab>
</div>
</div>
