
<div class="tab-content style2">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwareAuthority">
                            <tr>
                                <th width="10%">软件名称</th>
                                <th width="10%">分版名称</th>
                                <th width="10%">使用版本</th>
                                <th width="10%">授权码</th>
                                <th width="10%">状态</th>
                                <th width="10%">授权类型</th>
                                <th width="10%">起始日期</th>
                                <th width="10%">到期日期</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content>
                        <table class="softwareAuthority">
                            <tr ng-repeat="item in tableItems.SoftWare">
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.rjMc}}" tooltip-append-to-body ="true">{{item.rjMc}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.fblbMc}}" tooltip-append-to-body ="true">{{item.fblbMc}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.rjbb}}" tooltip-append-to-body ="true">{{item.rjbb}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sqm}}" tooltip-append-to-body ="true">{{item.sqm}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sqztMc}}" tooltip-append-to-body ="true">{{item.sqztMc}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.dlbyhlxDm}}" tooltip-append-to-body ="true">{{item.sqlx}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sqrqq}}" tooltip-append-to-body ="true">{{item.sqrqq}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sqrqz}}" tooltip-append-to-body ="true">{{item.sqrqz}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
