<tr>
    <td class="number">委托单位</td>
    <td class="left-top">
        <span class="service-item">累计委托单位数：15</span>
        <span class="service-item">三个月内申报的单位数：10</span>
        <span class="service-item alink end-detail"><i class="fa fa-exclamation-circle"></i>到期情况</span>
        <table class="normal-table">
            <tr align="center">
                <td>钻石会员</td>
                <td>白金会员</td>
                <td>金卡会员</td>
                <td>银卡会员</td>
                <td>普通会员</td>
            </tr>
            <tr align="center">
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>
        <table class="normal-table">
            <tr>
                <td width="50%">
                    <span>税友税友税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
                <td>
                    <span>税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
                <td>
                    <span>税友税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
                <td>
                    <span>税友集团</span>
                    <span class="middle-margin">银卡会员</span>
                    <span class="alink">删除</span>
                </td>
            </tr>
        </table>
    </td>
</tr>