<div class="container">
    <div class="page-content">
        <div class="outer-box">
            <div class="cont-left">
                <div>
                    <div class="tabs">
                        <div class="tab" ng-class="tag.TagClass" ng-repeat="tag in tags" ng-click="activeView($index,tag)">
                            <span class="forntclass title" ng-bind="tag.tagName" title="{{tag.tagName}}"></span>
                        </div>
                        <!--<div class="tab fix-margin"></div>-->
                        <div class="tab-other">
                            <div search-info></div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-content-box" ng-style="TagStyle" style="width: 400%">
                            <div class="tab-content-item" style="width: 25%" ng-repeat="tag in tags">
                                <div ng-include="tag.templateUrl"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>