<div class="tab-content style2" ng-controller="CallbackJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="20%">任务</th>
                                <th width="25%">外呼情况记录</th>
                                <th width="7%">呼出结果</th>
                                <th width="7%">联系人</th>
                                <th width="12%">联系电话</th>
                                <th width="11%">呼出时间</th>
                                <th width="7%">执行人</th>
                                <th width="11%">创建时间</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content scroll-load-more load-more="loadMoreData()">
                        <table class="softwear-auth">

                            <tr ng-repeat="vo in callbackList track by $index">
                                <td width="20%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.rwmc}}" tooltip-append-to-body="true">{{vo.rwmc}}
                                    </div>
                                </td>
                                <td width="25%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.whqkjl}}" tooltip-append-to-body="true"> {{vo.whqkjl}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.hcjg}}" tooltip-append-to-body="true"> {{vo.hcjg}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.lxr}}" tooltip-append-to-body="true"> {{vo.lxr}}
                                    </div>
                                </td>
                                <td width="12%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.hccgdhhm}}" tooltip-append-to-body="true"> {{vo.hccgdhhm}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.hwsj}}" tooltip-append-to-body="true">{{vo.hwsj}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.zxzName}}" tooltip-append-to-body="true">{{vo.zxzName}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.cjsj}}" tooltip-append-to-body="true"> {{vo.cjsj}}
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
