<div class="table" ng-controller="FwJhxxController">
    <div class="search-result">
        <table>
            <tr>
                <th>任务</th>
                <th>外呼情况记录</th>
                <th>呼出结果</th>
                <th>联系人</th>
                <th>联系电话</th>
                <th>呼出时间</th>
                <th>执行人</th>
                <th>创建时间</th>
            </tr>
            <tr ng-repeat="vo in callbackList">
                <td>{{vo.rwmc}}</td>
                <td>
                    {{vo.whqkjl}}
                </td>
                <td>
                    {{vo.hcjg}}
                </td>
                <td>
                    {{vo.lxr}}
                </td>
                <td>{{vo.hccgdhhm}}</td>
                <td>{{vo.hwsj}}</td>
                <td>{{vo.zxzid}}</td>
                <td>{{vo.cjsj}}</td>
            </tr>

        </table>
    </div>
</div>