<div class="tab-content style2" ng-controller="DxJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">

                            <tr>
                                <th width="20%">短信业务类型</th>
                                <th width="10%">接收号码</th>
                                <th width="10%">接收人</th>
                                <th width="50%">短信内容</th>
                                <th width="10%">发送时间</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content scroll-load-more load-more="loadMoreData()">
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in dxList track by $index">
                                <td width="20%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.rwmc}}" tooltip-append-to-body="true">{{vo.rwmc}}
                                    </div>
                                </td>
                                <td width="10%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.RWMS}}" tooltip-append-to-body="true"> {{vo.RWMS}}
                                    </div>
                                </td>
                                <td width="10%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.djrmc}}" tooltip-append-to-body="true"> {{vo.djrmc}}
                                    </div>
                                </td>
                                <td width="50%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.CJRMC}}" tooltip-append-to-body="true">{{vo.CJRMC}}
                                    </div>
                                </td>
                                <td width="10%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.CJRMC}}" tooltip-append-to-body="true"> {{vo.CJRMC}}
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>