<div class="tab-content style2" ng-controller="FwJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="10%">产品大类</th>
                                <th width="10%">潜在价值</th>
                                <th width="10%">截止日期</th>
                                <th width="10%">可能性</th>
                                <th width="50%">描述</th>
                                <th width="10%">状态</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content">
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in xsList">
                                <td width="10%">{{vo.cpdl}}</td>
                                <td width="10%"> {{vo.qzjz}}</td>
                                <td width="10%"> {{vo.jzsj}}</td>
                                <td width="10%"> {{vo.knx}}</td>
                                <td width="50%"> {{vo.xsms}}</td>
                                <td width="10%"> {{vo.jzzt}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>