<div class="tab-content style2" ng-controller="YcrwJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="10%">表单编号</th>
                                <th width="43%">任务描述</th>
                                <th width="7%">任务状态</th>
                                <th width="11%">执行时间</th>
                                <th width="11%">要求完成时间</th>
                                <th width="7%">创建人</th>
                                <th width="11%">创建时间</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content scroll-load-more load-more="loadMoreData()">
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in ycrwList track by $index">
                                <td width="10%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.bdbh}}" tooltip-append-to-body="true">{{vo.bdbh}}
                                    </div>
                                </td>
                                <td width="43%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.rwms}}" tooltip-append-to-body="true">{{vo.rwms}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.rwztmc}}" tooltip-append-to-body="true"> {{vo.rwztmc}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.pfsj}}" tooltip-append-to-body="true">{{vo.pfsj}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.pfsj}}" tooltip-append-to-body="true">{{vo.pfsj}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.rwcjz}}" tooltip-append-to-body="true">{{vo.rwcjz}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.cjrq}}" tooltip-append-to-body="true">{{vo.cjrq}}
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>