<div class="tab-content style2" ng-controller="FwJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">

                            <tr>
                                <th width="10%">表单编号</th>
                                <th width="39%">任务描述</th>
                                <th width="10%">任务类型名称</th>
                                <th width="7%">登记人</th>
                                <th width="10%">登记时间</th>
                                <th width="7%">处理人</th>
                                <th width="10%">处理时间</th>
                                <th width="7%">状态</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content>
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in zdxcList">
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{vo.bdbh}}" tooltip-append-to-body ="true">{{vo.bdbh}}</td>
                                <td width="39%"> {{vo.rwms}}</td>
                                <td width="10%"> {{vo.rwlxmc}}</td>
                                <td width="7%"> {{vo.cjrmc}}</td>
                                <td width="10%">{{vo.cjsj}}</td>
                                <td width="7%">{{vo.zxrmc}}</td>
                                <td width="10%">{{vo.wjrq}}</td>
                                <td width="7%">{{vo.rwztmc}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>