<div class="tab-content style2" ng-controller="FwJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">

                            <tr>
                                <th width="20%">表单编号</th>
                                <th width="29%">任务描述</th>
                                <th width="10%">任务类型名称</th>
                                <th width="7%">登记人</th>
                                <th width="10%">登记时间</th>
                                <th width="7%">处理人</th>
                                <th width="10%">处理时间</th>
                                <th width="7%">状态</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content">
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in zdxcList">
                                <td width="20%">{{vo.rwmc}}</td>
                                <td width="29%"> {{vo.RWMS}}</td>
                                <td width="10%"> {{vo.RWLXMC}}</td>
                                <td width="7%"> {{vo.CJRMC}}</td>
                                <td width="10%">{{vo.CJSJ}}</td>
                                <td width="7%">{{vo.ZXRMC}}</td>
                                <td width="10%">{{vo.WJRQ}}</td>
                                <td width="7%">{{vo.RWZT}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>