<div class="tab-content style2" ng-controller="ZxJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="10%">受理人</th>
                                <th width="10%">联系人</th>
                                <th width="15%">主叫号码</th>
                                <th width="35%">咨询事项</th>
                                <th width="10%">处理情况</th>
                                <th width="10%">开始时间</th>
                                <th width="10%">操作</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content>
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in zxjlList">
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{vo.zxmc}}" tooltip-append-to-body ="true">{{vo.zxmc}}</td>
                                <td width="10%"> {{vo.lxr}}</td>
                                <td width="15%"> {{vo.lxdh}}</td>
                                <td width="35%"> {{vo.zxsxStr}}</td>
                                <td width="10%">{{vo.clfsmc}}</td>
                                <td width="10%">{{vo.zxsj}}</td>
                                <td width="10%"></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>