<div class="tab-content style2" ng-controller="ZxJhxxController">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="7%">受理人</th>
                                <th width="7%">联系人</th>
                                <th width="12%">主叫号码</th>
                                <th width="46%">咨询事项</th>
                                <th width="7%">处理情况</th>
                                <th width="11%">开始时间</th>
                                <th width="10%">操作</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content scroll-load-more load-more="loadMoreData()">
                        <table class="softwear-auth">
                            <tr ng-repeat="vo in zxjlList track by $index">
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.zxmc}}" tooltip-append-to-body="true">{{vo.zxmc}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.lxr}}" tooltip-append-to-body="true"> {{vo.lxr}}
                                    </div>
                                </td>
                                <td width="12%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.lxdh}}" tooltip-append-to-body="true"> {{vo.lxdh}}
                                    </div>
                                </td>
                                <td width="46%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.zxsxStr}}" tooltip-append-to-body="true"> {{vo.zxsxStr}}
                                    </div>
                                </td>
                                <td width="7%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.clfsmc}}" tooltip-append-to-body="true">{{vo.clfsmc}}
                                    </div>
                                </td>
                                <td width="11%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="{{vo.zxsj}}" tooltip-append-to-body="true">{{vo.zxsj}}
                                    </div>
                                </td>
                                <td width="10%">
                                    <div class="title" tooltip-is-open="true" tooltip-placement="bottom"
                                         tooltip="" tooltip-append-to-body="true"></div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>