<div class="tab-content style2">
    <div class="tab-content-box">
        <div class="tab-content-item hastable">
            <div class="table">
                <div class="search-result">
                    <div class="table-header" ui-y-table>
                        <table class="softwear-auth">
                            <tr>
                                <th width="10%">订单编号</th>
                                <th width="10%">产品包</th>
                                <th width="10%">下单日期</th>
                                <th width="10%">应收金额</th>
                                <th width="10%">收款状态</th>
                                <th width="15%">收款时间</th>
                                <th width="10%">开票状态</th>
                                <th width="10%">开票时间</th>
                                <th width="10%">交付状态</th>
                                <th width="15%">交付时间</th>
                                <th width="10%">操作</th>
                            </tr>
                        </table>
                        <div class="scroll-arrow2" ui-y-table>
                            <div class="scroll-to-left disabled">
                                <span class="arrow-left2"></span>
                            </div>
                            <div class="scroll-to-right">
                                <span class="arrow-right2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-content" ui-y-table-content>
                        <table class="softwear-auth">
                            <tr ng-repeat="item in tableItems">
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.orderId}}" tooltip-append-to-body ="true">{{item.orderId}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.cpbs}}" tooltip-append-to-body ="true">{{item.cpbs}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.ddTime}}" tooltip-append-to-body ="true">{{item.ddTime}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.ddje}}" tooltip-append-to-body ="true">{{item.ddje}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.skzt}}" tooltip-append-to-body ="true">{{item.skzt}}</td>
                                <td width="15%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sksj}}" tooltip-append-to-body ="true">{{item.sksj}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.kpzt}}" tooltip-append-to-body ="true">{{item.skzt}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.sksj}}" tooltip-append-to-body ="true">{{item.sksj}}</td>
                                <td width="10%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.jfzt}}" tooltip-append-to-body ="true">{{item.jfzt}}</td>
                                <td width="15%" class="title" tooltip-is-open="true" tooltip-placement="bottom" tooltip="{{item.jfsj}}" tooltip-append-to-body ="true">{{item.jfsj}}</td>
                                <td width="10%" class="title">操作</td>
                            </tr>
                        </table>
                        <!--<table class="softwear-auth">-->

                        <!--</table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
